app/build/
app/.dart_tool/
app/.flutter-plugins-dependencies
app/pubspec.lock
app/models/*.glb
app/macos/Flutter/ephemeral/
app/windows/flutter/ephemeral/
flutter_only/build/
flutter_only/.dart_tool/
flutter_only/.flutter-plugins-dependencies
flutter_only/pubspec.lock
flutter_only/macos/Flutter/ephemeral/
flutter_only/windows/flutter/ephemeral/
d3dproxy/*.dll
d3dproxy/*.obj
d3dproxy/*.lib
d3dproxy/*.exp
