app/build/
app/.dart_tool/
app/.flutter-plugins-dependencies
app/pubspec.lock
app/models/*.glb
app/models/*.vrm
app/macos/Flutter/ephemeral/
app/ios/Flutter/ephemeral/
app/ios/Pods/
app/macos/Pods/
out/
